[submodule "lftp-ministry"]
	path = lftp-ministry
	url = git@github.com:adityaxdiwakar/lftp-ministry.git
[submodule "lftp-diwakars"]
	path = lftp-diwakars
	url = git@github.com:adityaxdiwakar/lftp-diwakars.git
